body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(193, 204, 193);
    height: 100vh;
}
.loading
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
img
{
    max-width: 100%;
}
section .title
{
    font-size: 40px;
    color:blue;
    text-align: center;
    margin: 40px 0;
}
.tour-container
{
    max-width: 500px;
    margin: 20px auto;  
    border-radius: 12px;
    background-color: antiquewhite;  
}
.tour-container img
{
    border-radius: 12px 12px 0 0;
}
.tour-info
{
    padding: 20px;
    text-align: center;
}
.tour-info div
{
    display: flex;
    justify-content: space-between;
    color: blue;
}
.tour-info p
{
    text-align: justify;
    line-height: 1.5;
}
.tour-info p button
{
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
}
.tour-info .delete-btn
{
    padding: 8px 15px;
    border: none;
    background: #fff;
    border-radius: 6px;
    color: brown;
    border: 1px solid;
    cursor: pointer;
    opacity: 0.5;
}
.tour-info .delete-btn:hover
{
    opacity: 1;
}

.no-tours
{
    text-align: center;
}
.no-tours h2
{
    color: brown;
}
.no-tours button
{
    border: none;
    font-size: 20px;
    padding: 8px 14px;
    border-radius: 4px;
    color: blue;
    cursor: pointer;
}
